<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <add name="TaskTracker" connectionString="server=DEVBOX\SQLEXPRESS;database=TaskTracker;uid=sa;password=m@M?$Y]Ve/u4,Hqf;" />
  </connectionStrings>
</configuration>